$bg-menu: white;
$bg: white;
$color-light-1: #a9acbd;
$color-black-1: #757572;
$color-black-2: #191919;
$punch: #ff5266;
$bg-linear: linear-gradient(#ff5266, #ff916e);

body{
    background-color: $bg;
}
