$font: 'Roboto';

.font-menu{
    font-size: 22px;
    line-height: 25px;
    color: $punch;
    font-family: $font;
}
.title-card{
    font-size: 18px;
    line-height: 22px;
    font-family: $font;

}
.title-home{
    font-family: $font;
    font-size: 50px;
    background: -webkit-linear-gradient(#ff5266, #ff916e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 40px 0;
}
