.font-menu{
    font-size: 22px;
    line-height: 25px;
    color: white;
}
.title-card{
    font-size: 18px;
    line-height: 22px;
}
.title-home{
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 40px 0;
}