body {
  background-color: white;
}

.font-menu {
  font-size: 22px;
  line-height: 25px;
  color: #ff5266;
  font-family: "Roboto";
}

.title-card {
  font-size: 18px;
  line-height: 22px;
  font-family: "Roboto";
}

.title-home {
  font-family: "Roboto";
  font-size: 50px;
  background: -webkit-linear-gradient(#ff5266, #ff916e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 40px 0;
}

.page-favoris .grid-cards-fav {
  width: 85%;
  min-height: 300px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.page-search .container-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.page-search .container-form .search-input {
  margin-right: 60px;
  width: 250px;
  height: 30px;
  padding-left: 10px;
  background-color: white;
  border: 2px solid #ff5266;
  font-family: "Roboto";
}
.page-search .container-form .select label {
  font-family: "Roboto";
}
.page-search .container-form .select .select-option {
  margin-right: 60px;
  font-family: "Roboto";
  height: 100%;
  padding: 5px;
  margin-left: 5px;
  color: white;
  background: linear-gradient(#ff5266, #ff916e);
}
.page-search .container-form .select .select-option option {
  color: black;
}
.page-search .container-form .send {
  padding: 5px 20px;
  color: white;
  background: linear-gradient(#ff5266, #ff916e);
  border: none;
  font-family: "Roboto";
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
}
.page-search .container-results {
  width: 90%;
  min-height: 300px;
  margin: 0 auto;
}
.page-search .container-results .grid-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.page-search .container-results .grid-cards .gif {
  width: 600px;
  height: auto;
  margin: 0 auto 0 auto;
  display: block;
}

.page-home .random-fav .card {
  margin: 0 auto;
}
.page-home .repeat {
  margin: 40px auto;
  display: block;
  width: auto;
  height: auto;
  padding: 12px 25px;
  background: linear-gradient(#ff5266, #ff916e);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: "Roboto";
}

.card {
  width: 300px;
  height: auto;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 30px 20px;
  margin: 0px 20px 50px 20px;
  transition: transform 400ms ease-out;
  background-color: white;
}
.card:hover {
  transform: scale(1.03);
}
.card .image {
  width: 90%;
  height: auto;
  margin: 0 auto 0 auto;
  display: block;
}
.card .title {
  text-align: center;
  margin-top: 15px;
  color: #191919;
  font-family: "Roboto";
  margin-bottom: 5px;
}
.card .subtitle {
  text-align: center;
  display: block;
  color: #757572;
  font-family: "Roboto";
}
.card ion-icon {
  font-size: 32px;
  margin: 10px 15px 0 auto;
  display: block;
  color: #ff5266;
  cursor: pointer;
}
.card audio {
  margin: 15px auto 0 auto;
  display: block;
}

header {
  width: 100%;
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
header .container-menu {
  text-align: center;
  padding: 20px 0;
}
header .container-menu .menu .item-menu {
  display: inline-block;
  margin-right: 30px;
}
header .container-menu .menu .item-menu:last-child {
  margin-right: 0;
}
header .container-menu .menu .item-menu a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
