.page-home{
    .random-fav{
        .card{
            margin: 0 auto;
        }
    }
    .repeat{
        margin: 40px auto;
        display: block;
        width: auto;
        height: auto;
        padding: 12px 25px;
        background: $bg-linear;
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
        font-family: $font;

    }
}